In [1]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/home/chandana/Downloads/car data.csv')


le = LabelEncoder()
df.loc[:, 'Brand'] = le.fit_transform(df['Car_Name'])
df= df.drop('Car_Name', axis=1) 
df.head()

,Year,Selling_Price,Present_Price,Driven_kms,Fuel_Type,Selling_type,Transmission,Owner,Brand
0,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0,90
1,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0,93
2,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0,68
3,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0,96
4,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0,92

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder
import pandas as pd
import numpy as np

# Load the dataset
df = pd.read_csv('/home/chandana/Downloads/car data.csv')


le = LabelEncoder()
df.loc[:, 'Brand'] = le.fit_transform(df['Car_Name'])
df= df.drop('Car_Name', axis=1) 
df.head()
X=df[['Brand','Selling_Price','Driven_kms']]

y=df['Present_Price']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Create a linear regression model
model = LinearRegression()

# Train the model using the training data
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
#print(X_test)
print(y_pred[0]*100000)
y_pred1= model.predict([[30,2.0,24000]])
#print(X_test)
print(y_pred1[0]*100000)
# Evaluate the model using mean squared error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

# Use the model to make predictions
def predict_car_price(brand, driven_km, selling_price):
    brand = le.fit_transform([brand])[0]
    input_data = pd.DataFrame([[brand, driven_km, selling_price]], columns=['Brand', 'Driven_kms', 'Selling_Price'])
    #predicted_price = model.predict(input_data)[0]
    #return predicted_price
    print(input_data)
    predicted_price = model.predict([[brand,driven_km,selling_price]])[0]
    return predicted_price*10000
    
# Example usage
brand = 'city'
driven_km = 5.9
selling_price = 20.5
predicted_price = predict_car_price(brand, driven_km, selling_price)
print(f'Predicted price for {brand} with {driven_km} km and selling price {selling_price}: {predicted_price}')

26693.198172112887
277873.43460455665
Mean Squared Error: 13.92854266168875
   Brand  Driven_kms  Selling_Price
0      0         5.9           20.5
Predicted price for city with 5.9 km and selling price 20.5: 76722.53702134955

/home/chandana/.local/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
/home/chandana/.local/lib/python3.8/site-packages/sklearn/base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(